<div class="container">
    <div class="settleData">
        <p>green color indicates A customer wins on more than 60% of their bets </p>
        <button ng-click="readSettledCsv()">
Display Settled data
</button>

        <div id="divID">
            <table>
                <tr>
                    <th>Customer</th>
                    <th>Event</th>
                    <th>Participant</th>
                    <th>Stake</th>
                    <th>Win</th>
                </tr>
                <tbody ng-repeat="customerData in settledData  track by $index">
                    <tr ng-class="{'green' : settle.unUsualWin}" ng-repeat="settle in customerData  track by $index">
                        <td>{{settle.Customer}}</td>
                        <td>{{settle.Event}}</td>
                        <td>{{settle.Participant}}</td>
                        <td>{{settle.Stake}}</td>
                        <td>{{settle.Win}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="unsettleData">
        <p> green color indicates All upcoming (i.e. unsettled) bets from customers that win at an unusual rate should be highlighted
            as risky</p>
        <p>yellow color indicate Bets where the stake is more than 10 times higher than that customer’s average bet in their
            betting history should be highlighted as unusual</p>
        <p>Bets where the stake is more than 30 times higher than that customer’s average bet in their betting history should
            be highlighted as highly unusual</p>
        <button ng-click="readUnSettledCsv()">
Display Un Settled data
</button>

        <div id="divID">
            <table>
                <tr>
                    <th>Customer</th>
                    <th>Event</th>
                    <th>Participant</th>
                    <th>Stake</th>
                    <th>To Win</th>
                </tr>
                <tbody ng-repeat="customerData in unsettledData  track by $index">
                    <tr ng-class="{'green' : settle.unUsualWin, 'yellow' : settle.highUsualWin, 'red' : settle.riskUsualWin}" ng-repeat="settle in customerData  track by $index">
                        <td>{{settle.Customer}}</td>
                        <td>{{settle.Event}}</td>
                        <td>{{settle.Participant}}</td>
                        <td>{{settle.Stake}}</td>
                        <td>{{settle.ToWin}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>